$color-white: #ffffff;
$color-black: #0a0903;

$color-red: #ff0000;
$color-orange: #ff8200;
$color-amber: #FFC100;
$color-light-yellow: #FFEAAE;
$color-gray: #5c5c5c;

$font-xs: .8rem;
$font-s: 14px;
$font-m: 16px;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxxl: 2.5rem;
$font-xxxxl: 3rem;

$font-stack: 'Playfair Display', serif;


$border-radius: .2rem